<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1> Barker -Twitter for Dogs </h1>
    </header>
    <main>
        <form class="bark_form">
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name" required placeholder="Enter Your Name" />
            <label for="bark"> Bark: </label>
            <textarea name="content" id="content" cols="30" rows="10" maxlength="140" required>
            </textarea>
            <button id="send"> Send </button>
        </form>
        <div class="bark_container">
            <div class="bark">
                <h3> Test User </h3>
                <div class="bark_content">
                    <p>
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post <span class="tag-link">#Bark</span>
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                    </p>
                    <span class="date">07/18/2023</span>
                </div>
            </div>
            <div class="bark">
                <h3> Test User </h3>
                <div class="bark_content">
                    <p>
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post <span class="user-link">@anotherdog</span>
                    </p>
                    <span class="date">07/18/2023</span>
                </div>
            </div>
            <div class="bark">
                <h3> Test User </h3>
                <div class="bark_content">
                    <p>
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                        Post post Post post Post post Post post Post post Post post Post post Post post Post post Post
                        post
                    </p>
                    <span class="date">07/18/2023</span>
                </div>
            </div>
        </div>
        <script src="../public/index.js"></script>
    </main>
</body>

</html>